
header{
  background-image: url(picture/gaming-pattern.png);
  background-repeat: repeat;
  text-align: right;
  font-size: 30px;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: black;

}
@media screen {
  nav li:first-child {
    padding-left: 50px;
  }
  nav li {
    display: inline-block;
    padding-right: 80px;
  }
}
.viewport{max-width:700px;
	margin:50px auto;
	padding:30px;
	border-width: 3px;
	border-style: dashed;
	border-color: #e2dfdf;
}
body{
	font-family: Microsoft YaHei;
	background-image: url(picture/hypnotize.png);
	background-repeat: repeat;
}
#Body{
	margin:0px 50px;
	width:70%;
	float:left;
}
h1{
    text-shadow: 5px 5px 5px gray;
}
.word{
	font-size: 17px;
	font-weight:bold;
}



#sidebar{
	width:20%;
	height:65%;
	text-align:center;
	font-size:20px;
	color:white;
	background-color:#bebdbd;
	float:left;
	position:fixed;
	left: 80%;
    top: 20%;
	border-radius:20px;
}
　
　
　
　
　
　font-weight:bold;
　
blockquote{
	letter-spacing: 5px;
}

footer {
  background:linear-gradient(white,#777);
  padding: 10px;
  text-align: center;
  color: black;
}